<div class="mx-4">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mb-3 text-center">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
</div>